/* Dark Brown: #5a2100
// Light Brown: #b04100
// Orangeish: #fc6d19
// Blue: #006363
// Light Blue: #00b0af
*/

.btn.tiny {
  padding: 3px 5px 3px;
  font-size: 10px;
}

.jlink {
cursor: pointer;
}

.positive { font-weight: bold; color: #5c8c5c; }
.negative { font-weight: bold; color: #873535; }

input#queryinput {
color: #fff;
}

input#queryinput:focus {
color: #000;
}

#logs td{
word-wrap: break-word;
font-size: 11px;
}

td#meta {
text-align: right;
}

#meta td {
color: #fff;
padding: 2px;
font-size: 10px;
line-height: 10px;
text-align: right;
}

div.legend table, div.legend table td {
width: auto;
height: auto;
line-height: auto;
color: #000;
margin: 0px;
border: 0;
padding: 0px;
}

div.legend table td.legendColorBox, div.legend table td.legendLabel {
padding-left: 3px;
}

table.formatting, table.formatting td {
margin: 0;
padding: 0 3px 0 3px;
font-size: 10px;
border: 0;
vertical-align: middle;
}

#searchform {
width: 100%;
}

#queryinput {
width: 98%;
}



#analyze {
padding-top: 10px;
}

#fields a:hover, #analyze a:hover {
color: #A92C10;
}

#fields a.logfield_selected:hover {
text-decoration: line-through;
}

a.logfield_selected {
color: #A92C10;
}

#graph {
height: 100px;
width: 100%;
}

#graphheader {
font-size: 8pt;
padding-bottom: 3px;
}

table.logs tr.logrow:hover, td.logfield:hover, td.logfield_selected {
cursor: pointer;
}


table.logdetails {
margin-left: 10px;
border-top: 0;
border: 1px dashed #ccc;
}

tr.logrow:hover {
background-color: #e8f7f7;
}

tr.showdetails td {
border-top: 0px;
}

table.logdetails td{
border: 0px;
}

.alt {
background-color: #F5F5F5;
}

table.logdetails th {
font-size: 7pt;
font-weight: normal;
background-color: #F5F5F5;
border-top: 0;
border-bottom: 0;

}

tr.hidedetails {
display: none;
}

td.logopts {
background-color: #fff;
white-space: nowrap;
}

.no_hover a:hover {
background: #fff;
}

#ui-datepicker-div {
font-size: 11px;
}
