              <% if locals[:show_back] %>
              <li><a href="/"><i class="icon-circle-arrow-left"></i> Back to Search</a></li>
              <% else %>
              <li><a href="/auth/admin"><i class="icon-cogs"></i> User Administration</a></li>
              <% end %>
