              <% if locals[:show_back] %>
              <li><a href="/"><i class="icon-chevron-left"></i> Back to Search</a></li>
              <% else %>
              <li><a href="/auth/admin"><i class="icon-pencil"></i> User Administration</a></li>
              <% end %>
